entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 19006
externalPort = 80

[[deployment.rewrites]]
from = "/attached_assets/*"
to = "/attached_assets/*"

[[deployment.responseHeaders]]
path = "/attached_assets/*.pdf"
name = "Content-Type"
value = "application/pdf"

[[deployment.responseHeaders]]
path = "/attached_assets/*.pdf"
name = "Content-Disposition"
value = "inline"

[[deployment.responseHeaders]]
path = "/attached_assets/*.pdf"
name = "Content-Type"
value = "application/pdf"

[[deployment.responseHeaders]]
path = "/attached_assets/*"
name = "X-Content-Type-Options"
value = "nosniff"

[[deployment.responseHeaders]]
path = "/attached_assets/*"
name = "Access-Control-Allow-Origin"
value = "*"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Run Expo"
author = 39982925

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN npx expo start"

[[workflows.workflow]]
name = "Run"
author = 39982925

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web --host 0.0.0.0 --port 19006"

[[workflows.workflow]]
name = "Run"
author = 39982925

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"
