
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Assets">
          <match url="^attached_assets/(.*)" />
          <action type="Rewrite" url="attached_assets/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
