
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Content-Disposition" value="inline" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
